body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    background: rgb(242, 253, 137);
    background: linear-gradient(180deg, rgba(242, 253, 137, 1) 0%, rgba(198, 255, 141, 1) 100%);
}

.hidden {
    display: none;
}

.popup-page {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 250px;
    margin-bottom: 15px;
    user-select: none;
    text-align: center;
    outline: none;
    background-size: cover;
}

.title {
    font-size: 13px;
    font-weight: 620;
    margin-top: 17px;
}

.upload-drag-over {
    border: 1px dashed #333;
    background-color: #000;
}

#upload-area {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 210px;
    height: 104px;
    margin-top: 8px;
    text-align: center;
    border-radius: 5px;
    outline: 1px dashed #707070;
    background-color: #fff;
    box-shadow: 3px 3px 2px 1px #a2ce70a5;
}

#upload-button {
    font-size: 12px;
    font-weight: 300;

    position: relative;
    overflow: hidden;
    width: 170px;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: rgb(11, 132, 218);
    background: linear-gradient(90deg, rgba(11, 132, 218, 1) 0%, rgba(107, 95, 246, 1) 100%);
}

#upload-button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .1s ease;
    opacity: 0;
    background-color: #fff;
}

#upload-button:hover::before {
    opacity: .1;
}

.upload-hint {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    margin-top: 8px;
    opacity: .6;
    color: #707070;
}

.tooltip-text {
    font-size: 11px;
    font-weight: 500;
}

.tooltip-images {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tooltip-image {
    height: 55px;
    pointer-events: none;
}

#upload-tooltip {
    margin-top: 20px;
}

#rating-separator {
    width: 100%;
    height: 1px;
    color: #6c60f7;
    border: none;
    background-color: #6c60f7;
}

#rating-tooltip {
    margin-top: 5px;
}

.rating {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rating-stars {
    margin-top: 5px;
}

.frame {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 211px;
    height: 240px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffe;
    box-shadow: 3px 3px 2px 1px #a2ce70a5;
;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    height: calc(100% - 50px);
}

#loading-gif {
    height: 180px;
}

#result-bounding-box {
    position: absolute;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 150px;
    margin-top: 35px;
}

.buttons-row {
    position: absolute;
    bottom: 0;
    display: flex;
    flex: 0 0 0 50px;

    width: 211px;
    height: 50px;
    margin-bottom: 15px;
}

.action-button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    overflow: hidden;

    width: 50%;
    cursor: pointer;
    border: none;
    border-top: 1px solid #707070;
    outline: none;
    background-color: #eee;
}

.action-button:first-child {
    border-bottom-left-radius: 10px;
}

.action-button:last-child {
    border-bottom-right-radius: 10px;
}

.action-button:hover {
    color: #0c84db;
}

.close-button {
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    border: none;
    background: none;
}

.close-button:hover {
    color: red;
}

#image-result {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10px;
    outline: 1px dashed #707070;
}